{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Metadata": {
    "AWS::CloudFormation::Designer": {
      "f61dca58-2d98-45e6-9ae3-9a66433e1f28": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 190,
          "y": 160
        },
        "z": 1,
        "embeds": [],
        "isassociatedwith": [
          "a00ace66-bd19-4a11-bdc2-98038839c0d5"
        ],
        "isrelatedto": [
          "075bb29f-d11a-4ffe-be1f-4cf1130e6868",
          "34a82b9e-d611-431b-925b-61893c688de5"
        ]
      },
      "63f8ba4c-26bb-4335-8c92-de1ffeefa7f8": {
        "source": {
          "id": "f61dca58-2d98-45e6-9ae3-9a66433e1f28"
        },
        "target": {
          "id": "2192da6f-5944-4c4f-8fb2-18038a7ab31d"
        },
        "z": 1
      },
      "a00ace66-bd19-4a11-bdc2-98038839c0d5": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 190,
          "y": 60
        },
        "z": 1,
        "embeds": []
      },
      "f00b0dc2-8ce7-4a70-a831-ad586ffac7c4": {
        "source": {
          "id": "f61dca58-2d98-45e6-9ae3-9a66433e1f28"
        },
        "target": {
          "id": "a00ace66-bd19-4a11-bdc2-98038839c0d5"
        },
        "z": 1
      },
      "e5c19de0-bec3-4e5b-a3ea-d2a1723d6cba": {
        "source": {
          "id": "0491403a-117d-46c0-b6ee-15d759048055"
        },
        "target": {
          "id": "a00ace66-bd19-4a11-bdc2-98038839c0d5"
        },
        "z": 11
      },
      "075bb29f-d11a-4ffe-be1f-4cf1130e6868": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 190,
          "y": 260
        },
        "z": 1,
        "embeds": []
      },
      "fee94e3c-2de4-405e-9b5f-8ecfe60938c5": {
        "source": {
          "id": "e073614e-00b3-4921-9e04-7f92cb818c8e"
        },
        "target": {
          "id": "2d865d07-a205-4574-8d3a-1edf51d9a83f"
        },
        "z": 11
      },
      "254f57c2-da81-42dd-87f6-cde14b864297": {
        "source": {
          "id": "e073614e-00b3-4921-9e04-7f92cb818c8e"
        },
        "target": {
          "id": "a00ace66-bd19-4a11-bdc2-98038839c0d5"
        },
        "z": 12
      },
      "34a82b9e-d611-431b-925b-61893c688de5": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 290,
          "y": 260
        },
        "z": 1,
        "embeds": []
      },
      "00f4869d-aaa5-4931-ba06-cf78c69da2c2": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 290,
          "y": 160
        },
        "z": 1,
        "embeds": [],
        "isassociatedwith": [
          "af880a64-7c89-417c-ac82-8f130e4eeea6",
          "a00ace66-bd19-4a11-bdc2-98038839c0d5"
        ],
        "isrelatedto": [
          "34a82b9e-d611-431b-925b-61893c688de5"
        ]
      },
      "f01ee606-7b21-4e3a-8ebb-9cab5bb27dcc": {
        "source": {
          "id": "00f4869d-aaa5-4931-ba06-cf78c69da2c2"
        },
        "target": {
          "id": "8b17997a-ecd0-4d01-8118-127df2d9a9e4"
        },
        "z": 11
      },
      "ea03f4dc-7b94-49fc-ab4e-4bcb17cf599e": {
        "source": {
          "id": "c6a7dbe0-f930-4245-b397-3195a7394ee3"
        },
        "target": {
          "id": "00f4869d-aaa5-4931-ba06-cf78c69da2c2"
        },
        "z": 2
      },
      "af880a64-7c89-417c-ac82-8f130e4eeea6": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 290,
          "y": 60
        },
        "z": 1,
        "embeds": []
      },
      "8baa9150-d7f5-4e3b-a8c7-7d77fea804c3": {
        "source": {
          "id": "00f4869d-aaa5-4931-ba06-cf78c69da2c2"
        },
        "target": {
          "id": "af880a64-7c89-417c-ac82-8f130e4eeea6"
        },
        "z": 2
      },
      "42f112d6-c5bb-4d88-aa37-d43cba165f85": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 290,
          "y": -40
        },
        "z": 1,
        "embeds": [],
        "isassociatedwith": [
          "af880a64-7c89-417c-ac82-8f130e4eeea6"
        ]
      },
      "267aa356-5207-40d9-a666-268518bc5e3c": {
        "source": {
          "id": "42f112d6-c5bb-4d88-aa37-d43cba165f85"
        },
        "target": {
          "id": "af880a64-7c89-417c-ac82-8f130e4eeea6"
        },
        "z": 3
      },
      "9e33f866-0527-40d3-8fea-85be845c6a75": {
        "source": {
          "id": "42f112d6-c5bb-4d88-aa37-d43cba165f85"
        },
        "target": {
          "id": "3e03ca26-3452-42d4-be22-3223139609b9"
        },
        "z": 11
      },
      "760954fb-0783-4975-ad5b-a88e0a6571ef": {
        "source": {
          "id": "00f4869d-aaa5-4931-ba06-cf78c69da2c2"
        },
        "target": {
          "id": "3e03ca26-3452-42d4-be22-3223139609b9"
        },
        "z": 12
      },
      "ae51e394-71b5-425f-b5b0-fd9ca33f47ac": {
        "source": {
          "id": "132dde64-c5a7-4073-a2d5-29e72573e244"
        },
        "target": {
          "id": "3e03ca26-3452-42d4-be22-3223139609b9"
        },
        "z": 13
      },
      "eb569ecc-e649-42f2-bd36-eb5004fa1b30": {
        "source": {
          "id": "f94fe8c6-d53f-42a6-8503-2e8e0dcad6e8"
        },
        "target": {
          "id": "3e03ca26-3452-42d4-be22-3223139609b9"
        },
        "z": 11
      },
      "ee7e1880-a7bd-43f9-9cd4-a995289381c0": {
        "source": {
          "id": "574027d1-be82-4654-84f5-cc164f5586de"
        },
        "target": {
          "id": "2d865d07-a205-4574-8d3a-1edf51d9a83f"
        },
        "z": 11
      },
      "e8dbf5cd-5db7-4271-8b3b-20bcdbc1c2fe": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 190,
          "y": -40
        },
        "z": 1,
        "embeds": [],
        "isassociatedwith": [
          "a00ace66-bd19-4a11-bdc2-98038839c0d5"
        ]
      },
      "ec4d75a7-625c-43c8-b90c-89b1a1a30c84": {
        "source": {
          "id": "e8dbf5cd-5db7-4271-8b3b-20bcdbc1c2fe"
        },
        "target": {
          "id": "2d865d07-a205-4574-8d3a-1edf51d9a83f"
        },
        "z": 12
      },
      "a5c85832-4b49-4219-b792-25d2a2b255ab": {
        "source": {
          "id": "e8dbf5cd-5db7-4271-8b3b-20bcdbc1c2fe"
        },
        "target": {
          "id": "a00ace66-bd19-4a11-bdc2-98038839c0d5"
        },
        "z": 13
      },
      "53125f7e-77fe-4713-8e8a-b48af024c255": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 190,
          "y": -140
        },
        "z": 1,
        "embeds": [],
        "isrelatedto": [
          "e8dbf5cd-5db7-4271-8b3b-20bcdbc1c2fe"
        ]
      },
      "8a043c13-483f-4305-8616-0ee6c2befd80": {
        "size": {
          "width": 260,
          "height": 260
        },
        "position": {
          "x": -180,
          "y": -60
        },
        "z": 1,
        "embeds": [
          "73259216-6b83-48da-be1d-f484eb0c161c",
          "72504e3e-5afc-4279-8d72-b32f906be686",
          "97441018-c1b0-4602-a2fa-bd2d5e054517"
        ]
      },
      "97441018-c1b0-4602-a2fa-bd2d5e054517": {
        "size": {
          "width": 120,
          "height": 30
        },
        "position": {
          "x": -50,
          "y": 150
        },
        "z": 2,
        "parent": "8a043c13-483f-4305-8616-0ee6c2befd80",
        "embeds": []
      },
      "72504e3e-5afc-4279-8d72-b32f906be686": {
        "size": {
          "width": 120,
          "height": 30
        },
        "position": {
          "x": -170,
          "y": 150
        },
        "z": 2,
        "parent": "8a043c13-483f-4305-8616-0ee6c2befd80",
        "embeds": []
      },
      "e83c5bce-3e2e-4de1-bee0-aa532a85b504": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 100,
          "y": -60
        },
        "z": 1,
        "embeds": []
      },
      "c8a5bd3b-97b3-4eec-b028-a4f32c4cdb3e": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": -80,
          "y": 10
        },
        "z": 3,
        "parent": "73259216-6b83-48da-be1d-f484eb0c161c",
        "embeds": [],
        "references": [
          "e83c5bce-3e2e-4de1-bee0-aa532a85b504"
        ]
      },
      "88765d37-580f-4b08-af09-1ba8a5a5962b": {
        "source": {
          "id": "c8a5bd3b-97b3-4eec-b028-a4f32c4cdb3e"
        },
        "target": {
          "id": "e83c5bce-3e2e-4de1-bee0-aa532a85b504"
        },
        "z": 11
      },
      "73259216-6b83-48da-be1d-f484eb0c161c": {
        "size": {
          "width": 120,
          "height": 120
        },
        "position": {
          "x": -110,
          "y": -20
        },
        "z": 2,
        "parent": "8a043c13-483f-4305-8616-0ee6c2befd80",
        "embeds": [
          "c8a5bd3b-97b3-4eec-b028-a4f32c4cdb3e"
        ]
      },
      "0da9c2e4-6a68-41c6-9a6a-83fd8d3ab4c4": {
        "source": {
          "id": "c8a5bd3b-97b3-4eec-b028-a4f32c4cdb3e"
        },
        "target": {
          "id": "73259216-6b83-48da-be1d-f484eb0c161c"
        },
        "z": 11
      },
      "0ec322c7-37e0-4b2b-823c-5932045b81a0": {
        "source": {
          "id": "73259216-6b83-48da-be1d-f484eb0c161c"
        },
        "target": {
          "id": "8a043c13-483f-4305-8616-0ee6c2befd80"
        },
        "z": 12
      },
      "e25c292a-0190-4c7e-8346-9e0f9f884766": {
        "source": {
          "id": "c8a5bd3b-97b3-4eec-b028-a4f32c4cdb3e"
        },
        "target": {
          "id": "e83c5bce-3e2e-4de1-bee0-aa532a85b504"
        },
        "z": 11
      },
      "5d52e19e-85cb-44be-a75f-0f9450bfb619": {
        "source": {
          "id": "73259216-6b83-48da-be1d-f484eb0c161c"
        },
        "target": {
          "id": "97441018-c1b0-4602-a2fa-bd2d5e054517"
        },
        "z": 2
      },
      "a76a9deb-c070-4294-89a0-ef368ccf049b": {
        "source": {
          "id": "73259216-6b83-48da-be1d-f484eb0c161c"
        },
        "target": {
          "id": "72504e3e-5afc-4279-8d72-b32f906be686"
        },
        "z": 2
      },
      "fb6eb302-200a-4f7b-9bed-446ec37fe59c": {
        "source": {
          "id": "e83c5bce-3e2e-4de1-bee0-aa532a85b504"
        },
        "target": {
          "id": "8a043c13-483f-4305-8616-0ee6c2befd80"
        },
        "z": 1
      },
      "106d02ef-2725-479e-9e9e-569b2b3a749a": {
        "source": {
          "id": "00f4869d-aaa5-4931-ba06-cf78c69da2c2"
        },
        "target": {
          "id": "2d865d07-a205-4574-8d3a-1edf51d9a83f"
        },
        "z": 4
      },
      "58cf694c-38dd-411d-9b89-45fd8679bce1": {
        "source": {
          "id": "00f4869d-aaa5-4931-ba06-cf78c69da2c2"
        },
        "target": {
          "id": "a00ace66-bd19-4a11-bdc2-98038839c0d5"
        },
        "z": 4
      }
    }
  },
  "Resources": {
    "CloudFormers": {
      "Type": "AWS::IAM::Group",
      "Properties": {},
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "a00ace66-bd19-4a11-bdc2-98038839c0d5"
        }
      }
    },
    "EstadosTerraform": {
      "Type": "AWS::S3::Bucket",
      "Properties": {},
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "075bb29f-d11a-4ffe-be1f-4cf1130e6868"
        }
      }
    },
    "RepositorioRPM": {
      "Type": "AWS::S3::Bucket",
      "Properties": {},
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "34a82b9e-d611-431b-925b-61893c688de5"
        }
      }
    },
    "CloudFormerKey": {
      "Type": "AWS::IAM::AccessKey",
      "Properties": {
        "UserName": {
          "Ref": "CloudFormer"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "53125f7e-77fe-4713-8e8a-b48af024c255"
        }
      }
    },
    "CloudFormerVPC": {
      "Type": "AWS::EC2::VPC",
      "Properties": {
        "CidrBlock": "192.168.120.0/23",
        "EnableDnsSupport": "true",
        "EnableDnsHostnames": "true"
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "8a043c13-483f-4305-8616-0ee6c2befd80"
        }
      }
    },
    "CloudFormerSubnet": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "CidrBlock": "192.168.120.0/24",
        "MapPublicIpOnLaunch": true,
        "VpcId": {
          "Ref": "CloudFormerVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "97441018-c1b0-4602-a2fa-bd2d5e054517"
        }
      }
    },
    "CloudFormerInternetGW": {
      "Type": "AWS::EC2::InternetGateway",
      "Properties": {},
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "e83c5bce-3e2e-4de1-bee0-aa532a85b504"
        }
      }
    },
    "CloudFormerInternetRoute": {
      "Type": "AWS::EC2::Route",
      "DependsOn" : "InternetGWAttachVPC",
      "Properties": {
        "DestinationCidrBlock": "0.0.0.0/0",
        "RouteTableId": {
          "Ref": "CloudFormerRouting"
        },
        "GatewayId": {
          "Ref": "CloudFormerInternetGW"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "c8a5bd3b-97b3-4eec-b028-a4f32c4cdb3e"
        }
      }
    },
    "CloudFormerRouting": {
      "Type": "AWS::EC2::RouteTable",
      "Properties": {
        "VpcId": {
          "Ref": "CloudFormerVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "73259216-6b83-48da-be1d-f484eb0c161c"
        }
      }
    },
    "InternetGWAttachVPC": {
      "Type": "AWS::EC2::VPCGatewayAttachment",
      "Properties": {
        "InternetGatewayId": {
          "Ref": "CloudFormerInternetGW"
        },
        "VpcId": {
          "Ref": "CloudFormerVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "fb6eb302-200a-4f7b-9bed-446ec37fe59c"
        }
      }
    },
    "RTAttachSN1": {
      "Type": "AWS::EC2::SubnetRouteTableAssociation",
      "Properties": {
        "RouteTableId": {
          "Ref": "CloudFormerRouting"
        },
        "SubnetId": {
          "Ref": "CloudFormerSubnet"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "a76a9deb-c070-4294-89a0-ef368ccf049b"
        }
      }
    },
    "AppRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Sid": "AssumeRole",
              "Effect": "Allow",
              "Principal": {
                "Service": [
                  "ec2.amazonaws.com"
                ]
              },
              "Action": [
                "sts:AssumeRole"
              ]
            }
          ]
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "af880a64-7c89-417c-ac82-8f130e4eeea6"
        }
      }
    },
    "AppProfile": {
      "Type": "AWS::IAM::InstanceProfile",
      "Properties": {
        "Roles": [
          {
            "Ref": "AppRole"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "42f112d6-c5bb-4d88-aa37-d43cba165f85"
        }
      }
    },
    "CloudFormerPolicy": {
      "Type": "AWS::IAM::ManagedPolicy",
      "Properties": {
        "Description": "La politica base para grupos/usuarios \"CloudFormers\"",
        "PolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Sid": "IAMReadOnlyAccess",
              "Effect": "Allow",
              "Action": [
                "iam:GenerateCredentialReport",
                "iam:Get*",
                "iam:List*"
              ],
              "Resource": "*"
            },
            {
              "Sid": "DiscoverStacks",
              "Effect": "Allow",
              "Action": [
                "cloudformation:DescribeStacks"
              ],
              "Resource": "*"
            },
            {
              "Sid": "PackerWants",
              "Effect": "Allow",
              "Action": [
                "ec2:AttachVolume",
                "ec2:CreateVolume",
                "ec2:DeleteVolume",
                "ec2:CreateKeypair",
                "ec2:DeleteKeypair",
                "ec2:DescribeSubnets",
                "ec2:CreateSecurityGroup",
                "ec2:DeleteSecurityGroup",
                "ec2:AuthorizeSecurityGroupIngress",
                "ec2:CreateImage",
                "ec2:CopyImage",
                "ec2:RunInstances",
                "ec2:TerminateInstances",
                "ec2:StopInstances",
                "ec2:DescribeVolumes",
                "ec2:DetachVolume",
                "ec2:DescribeInstances",
                "ec2:CreateSnapshot",
                "ec2:DeleteSnapshot",
                "ec2:DescribeSnapshots",
                "ec2:DescribeImages",
                "ec2:RegisterImage",
                "ec2:CreateTags",
                "ec2:ModifyImageAttribute"
              ],
              "Resource": "*"
            },
            {
              "Sid": "ManageSpotInstances",
              "Effect": "Allow",
              "Action": [
                "ec2:CancelSpotInstanceRequests",
                "ec2:DescribeSpotDatafeedSubscription",
                "ec2:DescribeSpotFleetInstances",
                "ec2:DescribeSpotFleetRequestHistory",
                "ec2:DescribeSpotFleetRequests",
                "ec2:DescribeSpotInstanceRequests",
                "ec2:DescribeSpotPriceHistory",
                "ec2:RequestSpotInstances"
              ],
              "Resource": [
                "*"
              ]
            },
            {
              "Sid": "PassRoles",
              "Effect": "Allow",
              "Action": [
                "iam:PassRole"
              ],
              "Resource": [
                "*"
              ]
            },
            {
              "Sid": "BucketTerraform",
              "Action": [
                "s3:*"
              ],
              "Effect": "Allow",
              "Resource": [
                {
                  "Fn::Join": [
                    "",
                    [
                      "arn:aws:s3:::",
                      {
                        "Ref": "EstadosTerraform"
                      },
                      "*"
                    ]
                  ]
                },
                {
                  "Fn::Join": [
                    "",
                    [
                      "arn:aws:s3:::",
                      {
                        "Ref": "RepositorioRPM"
                      },
                      "*"
                    ]
                  ]
                }
              ]
            },
            {
              "Sid": "CloudFormation",
              "Action": "cloudformation:*",
              "Effect": "Allow",
              "Resource": "*"
            },
            {
              "Sid": "ElasticLoadbalancing",
              "Action": "elasticloadbalancing:*",
              "Effect": "Allow",
              "Resource": "*"
            },
            {
              "Sid": "Autoscaling",
              "Action": "autoscaling:*",
              "Effect": "Allow",
              "Resource": "*"
            },
            {
              "Sid": "SESPruebas",
              "Effect": "Allow",
              "Action": "ses:SendRawEmail",
              "Resource": "*"
            },
            {
              "Sid": "CloudFormationWants01",
              "Effect": "Allow",
              "Action": "ec2:DescribeSecurityGroups",
              "Resource": "*"
            },
            {
              "Sid": "CloudFormationWants02",
              "Effect": "Allow",
              "Action": "ec2:RevokeSecurityGroupIngress",
              "Resource": "*"
            }
          ]
        },
        "Groups": [
          {
            "Ref": "CloudFormers"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "f61dca58-2d98-45e6-9ae3-9a66433e1f28"
        }
      }
    },
    "AppPolicy": {
      "Type": "AWS::IAM::ManagedPolicy",
      "Properties": {
        "Description": "El rol base para instancias que son CloudFormers o App",
        "PolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Sid": "TerminarInstancias",
              "Action": [
                "ec2:TerminateInstances"
              ],
              "Effect": "Allow",
              "Resource": "*"
            },
            {
              "Sid": "AmazonDynamoDBFullAccess",
              "Action": [
                "dynamodb:*",
                "cloudwatch:DeleteAlarms",
                "cloudwatch:DescribeAlarmHistory",
                "cloudwatch:DescribeAlarms",
                "cloudwatch:DescribeAlarmsForMetric",
                "cloudwatch:GetMetricStatistics",
                "cloudwatch:ListMetrics",
                "cloudwatch:PutMetricAlarm",
                "datapipeline:ActivatePipeline",
                "datapipeline:CreatePipeline",
                "datapipeline:DeletePipeline",
                "datapipeline:DescribeObjects",
                "datapipeline:DescribePipelines",
                "datapipeline:GetPipelineDefinition",
                "datapipeline:ListPipelines",
                "datapipeline:PutPipelineDefinition",
                "datapipeline:QueryObjects",
                "iam:ListRoles",
                "sns:CreateTopic",
                "sns:DeleteTopic",
                "sns:ListSubscriptions",
                "sns:ListSubscriptionsByTopic",
                "sns:ListTopics",
                "sns:Subscribe",
                "sns:Unsubscribe",
                "sns:SetTopicAttributes",
                "lambda:CreateFunction",
                "lambda:ListFunctions",
                "lambda:ListEventSourceMappings",
                "lambda:CreateEventSourceMapping",
                "lambda:DeleteEventSourceMapping",
                "lambda:GetFunctionConfiguration",
                "lambda:DeleteFunction"
              ],
              "Effect": "Allow",
              "Resource": "*"
            },
            {
              "Sid": "AccesoRepositorioRPM",
              "Action": [
                "s3:Get*",
                "s3:List*"
              ],
              "Effect": "Allow",
              "Resource": {
                "Fn::Join": [
                  "",
                  [
                    "arn:aws:s3:::",
                    {
                      "Ref": "RepositorioRPM"
                    },
                    "*"
                  ]
                ]
              }
            }
          ]
        },
        "Roles": [
          {
            "Ref": "AppRole"
          }
        ],
        "Groups": [
          {
            "Ref": "CloudFormers"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "00f4869d-aaa5-4931-ba06-cf78c69da2c2"
        }
      }
    },
    "CloudFormer": {
      "Type": "AWS::IAM::User",
      "Properties": {
        "Groups": [
          {
            "Ref": "CloudFormers"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "e8dbf5cd-5db7-4271-8b3b-20bcdbc1c2fe"
        }
      }
    }
  },
  "Outputs": {
    "AppProfile": {
      "Value": {
        "Ref": "AppProfile"
      }
    },
    "CloudFormerEstadosTerraform": {
      "Value": {
        "Ref": "EstadosTerraform"
      }
    },
    "CloudFormerRepositorioRPM": {
      "Value": {
        "Ref": "RepositorioRPM"
      }
    },
    "CloudFormerAccessKeyId": {
      "Value": {
        "Ref": "CloudFormerKey"
      }
    },
    "CloudFormerSecretAccessKey": {
      "Value": {
        "Fn::GetAtt": [
          "CloudFormerKey",
          "SecretAccessKey"
        ]
      }
    },
    "CloudFormerVPC": {
      "Value": {
        "Ref": "CloudFormerVPC"
      }
    },
    "CloudFormerSubnet": {
      "Value": {
        "Ref": "CloudFormerSubnet"
      }
    },
    "CloudFormerAvailabilityZone": {
      "Value": {
        "Fn::GetAtt": [
          "CloudFormerSubnet",
          "AvailabilityZone"
        ]
      }
    }
  }
}
